body{
    background-color:plum; font-family: 'Macondo', cursive;
}

h1{
    color: mediumslateblue;
    font-size: 24px;
}

h6{
    color: palevioletred
}

a:link{
    color: coral
}

a:visited{
    color: darkred
}

#headerTest{
    background-color: thistle; height: 100px; width: 300px; padding: 20px; border-style: solid; border-width: 5px; border-color: lightslategray; position: absolute; top: 50px; left: 600px
}